/* GENERAL */
body {
    background: #efefef;
}
body > .content {
    overflow:hidden;
}
button {
    font-family: monospace;
    background-color: lightseagreen;
    color: white;
    border: none;
    padding: 5px;
}
button:hover {
    background: darkturquoise;
}
.content a {
    color: darkcyan !important;
}
.roundfield {
    border-radius: 0 !important;
}
ul.flat-list a {
    color: #aaa !important;
}
.side {
    max-width: 25%;
}
.sr-list .flat-list a {
    color: #222 !important;
}

/* HEADER */

#header {
    background: white url(%%b%%) repeat-x bottom left;
    background-repeat: repeat-x;
    padding-bottom: 25px;
    border: none;
    font-family: monospace;
    margin-bottom: 20px;
}
#header-img {
    margin: 5px 10px -15px 10px;
    width: 70px;
    height: 74px;
}
#header .pagename {
    background: #333;
    color: lightseagreen;
    padding: 5px;
    font-variant: normal;
    text-transform: lowercase;
    font-family: monospace;
    font-size: 1.5em;
    letter-spacing: 2px;
}
#header .pagename a {
    color: lightseagreen;
    padding-left: 10px;
}
#header .pagename a:before, h1.redditname a:before {
    content: "~/";
}
#header #sr-header-area {
    background-color: white;
    text-transform: lowercase;
    border: none;
    font-size: 100%;
}
#header .tabmenu li a {
    border: none;
    background: white;
    color: #222;
    padding: 3px;
}
#header .tabmenu li.selected a {
    background: lightseagreen;
}
#header #header-bottom-right {
    background-color: white;
    bottom: 20px;
}
#header #header-bottom-right a, #header #header-bottom-right .userkarma {
    color: #222;
    font-weight: normal;
}
#header #header-bottom-right .separator {
    visibility: hidden;
}
#header #header-bottom-right .separator:after {
    visibility: visible;
    content: "/ ";
}
#header-bottom-right .user a{
    color: lightseagreen ! important;
}

/* SIDEBAR */
.side {
    margin-right: 20px;
    background: transparent;
}
.side .titlebox, .side .sidebox, .side .sidecontentbox {
   background: white;
   padding: 10px;
   margin-top: 20px;
}
.side .titlebox a, .side .sidebox a, .side .sidecontentbox a {
    color: darkcyan;
}
.side .sidebox.submit {
    background: transparent;
    padding: 0;
    margin: 0;
}
.side .spacer:first-child {
    margin-top: 0;
}
.side h1.redditname {
    background: #333;
    padding: 5px;
    letter-spacing: 2px;
    font-family: monospace;
}
.side h1.redditname a {
    padding-left: 10px;
    color: lightseagreen;
}
.side .morelink {
    padding: none;
    border: none;
    background: transparent;
    overflow: hidden;
}
.side .morelink a {
    background: lightseagreen;
    border: none;
    color: white;
    text-align: left;
    font-family: monospace;
    font-size: 120%;
    letter-spacing: 1px;
    padding-left: 10px;
}
.side .morelink a:before {
    content: "// ";
}
.side .morelink a:hover {
    background: darkturquoise;
}
.nub {
    display: none;
}
.titlebox a.option {
    border: none;
    border-radius: 0px;
    padding: 5px 10px;
    font-family: monospace;
}
.titlebox a.option:before {
    content: "// ";
}
.fancy-toggle-button {
    margin: 5px 0;
}
.side .fancy-toggle-button .add {
    background: lightseagreen;
    color: #222;
}
.side .fancy-toggle-button .remove {
    background: indianred;
    color: white;
}
.usertext-body .md {
    margin: 6px 0;
}
.side .usertext-body .md h1 {
    background: #333;
    padding: 5px 15px;
    color: darkturquoise;
    font-family: monospace;
    letter-spacing: 1px;
    display: inline-block;
    margin: 10px 0;
}
.side .usertext-body .md h1:before {
    content: "/";
}
.usertext-body .md ul {
    padding-left: 20px;
}
.usertext-body .md a {
    color: darkcyan;
}
.side .sidecontentbox .content {
    border: none;
}
.side .bottom, .side .sidebox.create {
    display: none;
}
.infobar, .info-notice {
    border: none !important;
    border-radius: 0;
}
.infobar {
    background: powderblue !important;
}
.info-notice {
    background: lightgrey !important;
}
.side .linkinfo {
    border: 0px;
    background: White;
    padding: 10px;
}

/* POST LISTING */

.content {
    margin: 0 50px 0 20px;
    padding-right: 20px;
}
.sitetable {
    background: white;
    padding: 10px;
}
.sitetable .link {
     padding-bottom: 10px;
}
.entry .top-matter {
    padding-left: 10px;
}
.link .score.likes {
    color: crimson;
}
.link .score.dislikes {
    color: lightsteelblue;
}
.link .score.unvoted {
    color: #cccccc;
}
.arrow.upmod {
    background: url(%%upvote%%);
}
.arrow.downmod {
    background: url(%%downvote%%);
}
.arrow.up {
    background: url(%%up%%);
}
.arrow.down {
    background: url(%%down%%);
}
body > .content .link .rank {
    display: none;
}
.title a.title {
    color: darkcyan !important;
    font-weight: bold;
}
.title a.title:visited {
    color: #aaa !important;
}
.linkflairlabel {
    border: none;
    padding: 3px 7px;
    font-family: monospace;
    text-transform: lowercase;
    font-weight: bold;
    color: #222;
}

/* SUBMIT */

form.submit {
    margin-top: 20px;
}
form.submit .roundfield {
    background: white;
}
ul.tabmenu.formtab {
    padding: 0px;
}
.tabmenu.formtab a {
    font-family: monospace;
    font-weight: bold;
    color: #222 !important;
    background: transparent;
    border: none;
    font-size: 130%;
    padding: 5px 10px;
}
ul.tabmenu.formtab .selected a {
    background: lightseagreen;
    color: white !important;
    font-size: 130%;
}
.formtabs-content {
    border-top: 3px solid lightseagreen;
    margin-top: 5px;
}

/* INSIDE A THREAD */

.link .usertext-body .md {
    border: 0px;
}
.panestack-title {
    border: 0px;
}
.comment-visits-box {
    border-radius: 0px;
    border: 0px;
    background: powderblue;
}

/* comments */

.commentarea .sitetable {
    background: transparent;
    padding: 0px;
}

.commentarea .sitetable .comment {
    padding: 0px;
    margin: 0px;
}
.commentarea .entry {
    background: white;
    padding: 10px;
}
.commentarea pre, .md code {
    border: 0px;
    background: gainsboro;
}
.content .commentarea a.submitter {
    color: mediumaquamarine !important;
}

/* SIDEFLAIRS */
.side a[href*='#all'] { 
    display: inline-block;
    position: relative;
    margin-top: 0px;
    border: none;
    font-family: monospace;
    padding: 3px;
    color: #222;
    font-weight: bold;
    font-size: 120%;
    background: lightgrey;
    min-width: 120px;
    text-align: center;
    text-transform: lowercase;
    /*positions the button */
    left: 6px;
    top: 0px; 
}
.side a[href*='#support'] { 
    display: inline-block;
    position: relative;
    margin-top: 0px;
    border: none;
    font-family: monospace;
    padding: 3px;
    color: #222;
    font-weight: bold;
    font-size: 120%;
    background: lightgreen;
    min-width: 120px;
    text-align: center;
    text-transform: lowercase;
    /*positions the button */
    left: 16px;
    top: 0px; 
}
.side a[href*='#release'] { 
    display: inline-block;
    position: relative;
    margin-top: 0px;
    border: none;
    font-family: monospace;
    padding: 3px;
    color: #222;
    font-weight: bold;
    font-size: 120%;
    background: mediumturquoise;
    min-width: 120px;
    text-align: center;
    text-transform: lowercase;
    /*positions the button */
    left: 6px;
    top: 7px; 
}
.side a[href*='#wine'] { 
    display: inline-block;
    position: relative;
    margin-top: 0px;
    border: none;
    font-family: monospace;
    padding: 3px;
    color: #222;
    font-weight: bold;
    font-size: 120%;
    background: tomato;
    min-width: 120px;
    text-align: center;
    text-transform: lowercase;
    /*positions the button */
    left: 16px;
    top: 7px;
    margin-bottom: 12px;
}
/* FLAIRS */

.linkflairlabel {
    border-radius: 0px;
}

.linkflair-wine .linkflairlabel {
    background-color: tomato;
}
.linkflair-support .linkflairlabel {
    background-color: lightgreen;
}
.linkflair-crowdfund .linkflairlabel {
    background-color: khaki;
}
.linkflair-release .linkflairlabel {
    background-color: mediumturquoise;
}
.linkflair-important .linkflairlabel {
    background-color: orchid;
}
.linkflair-opensource .linkflairlabel {
    background-color: powderblue;
}

/* USER FLAIRS */

.flair.flair-aspyr-crepe {
padding: 0 4px;
margin: 0;
color: #EEE;
}
.flair-aspyr-crepe {
    background: url(%%aspyr-crepe%%) no-repeat #5092cc;
    height: 16px;
    width: 60px;
    text-indent: 60px;
    vertical-align: middle;
}

.flair.flair-feral-crepe {
padding: 0 4px;
margin: 0;
color: #EEE;
}
.flair-feral-crepe {
    background: url(%%feral-crepe%%) no-repeat #f37021;
    height: 16px;
    width: 58px;
    text-indent: 58px;
    vertical-align: middle;
}

